@using Exobry.Examples.AD_GraphQl_EF.Components.Components.Todo.AddToDoList;
@page "/"
<h3>ToDoPage</h3>
<div class="container">
    <AddToDoListComponent></AddToDoListComponent>
</div>

@code {
    
}